In [109]:
import pandas as pd

file_path = '/Users/sanimkhan/Projects/my-git/data_analysis/python/data/Flavors.csv'
df = pd.read_csv(file_path)


df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [110]:
df2 = df.set_index(['Base Flavor', 'Flavor'])
df2 = df2.sort_index(inplace=False)
df2[['Liked', 'Flavor Rating']]

                                   Liked  Flavor Rating
Base Flavor Flavor
Chocolate   Chocolate                Yes            8.8
            Chocolte Fudge Brownie   Yes            8.2
            Rocky Road               Yes            8.2
Vanilla     Cake Batter              Yes            6.5
            Cookie Dough             Yes            6.9
            Mint Chocolate Chip      Yes           10.0
            Neapolitan                No            3.8
            Pistachio                 No            2.3
            Vanilla                   No            4.7

In [111]:
# group by
gp = df.groupby('Base Flavor')
numeric_columns = df.select_dtypes(include=['number']).columns
gp[numeric_columns].mean()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [112]:
df.groupby('Base Flavor')[numeric_columns].mean()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [113]:
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [114]:
gp[numeric_columns].sum()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

In [115]:
# Group by Multiple Columns
gp1 = df.groupby(['Base Flavor', 'Liked'])
gp1[numeric_columns].mean()

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [116]:
#aggregation
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean','max','count','sum'], 'Texture Rating':['mean','max','count','sum']})

            Flavor Rating                   Texture Rating
                     mean   max count   sum           mean  max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2       7.233333  7.6     3  21.7
Vanilla               5.7  10.0     6  34.2       5.650000  8.0     6  33.9

In [117]:
# Transforming Data
df['Normalized Rating'] = df.groupby('Base Flavor')['Total Rating'].transform(lambda x: x / x.max())
df[['Flavor', 'Base Flavor', 'Total Rating', 'Normalized Rating']]

                   Flavor Base Flavor  Total Rating  Normalized Rating
0     Mint Chocolate Chip     Vanilla          18.0           1.000000
1               Chocolate   Chocolate          16.6           1.000000
2                 Vanilla     Vanilla           9.7           0.538889
3            Cookie Dough     Vanilla          13.4           0.744444
4              Rocky Road   Chocolate          15.2           0.915663
5               Pistachio     Vanilla           5.7           0.316667
6             Cake Batter     Vanilla          12.5           0.694444
7              Neapolitan     Vanilla           8.8           0.488889
8  Chocolte Fudge Brownie   Chocolate          15.3           0.921687